/*
Theme Name: The Retailer Child Theme
Theme URI: http://theretailer.getbowtied.com/
Description: This is a child theme for The Retailer.
Author: Get Bowtied
Author URI: http: //www.getbowtied.com/
Template: theretailer
Version: 1.8.1
*/

@import url("../theretailer/style.css");

/****************************************************************/
/*************** ADD YOUR CUSTOM CSS IN THIS AREA ***************/
/****************************************************************/




/*site wide*/

.entry-content p {
	font-size: 14px;
}

.entry-content ol li {
	font-size: 14px;
	line-height: 2em;
}


/*header*/

.gbtr_tools_wrapper, .gbtr_footer_wrapper {
	background: #2c3e50;
}

.gbtr_tools_search {
	display: none;
}

.gbtr_tools_info {
	color: #fff !important;
}

.menus_envelope {
	display: none;
}


/*team*/

.shortcode_meet_the_team_img_placeholder {
	display: none;
}

/*news*/

.article {
	background: #ecf0f1;
	padding: 10px;
	margin-bottom: 5px;
	border-left: 2px solid #bdc3c7;
}




/*table*/

table td {
	font-size: 14px;
}

td {
	padding: 10px 0;
}

tr:nth-child(even) {background: #ecf0f1}


/*contact*/
.ajax-loader {
	display: none;
}

/*footer*/

.gbtr_dark_footer_no_widgets h3 {
	display: none;
}

.bottom_wrapper {
	border-top: none !important;
}

.gbtr_footer_wrapper {
	background: #2c3e50 !important;
}







/****************************************************************/
/****************************************************************/
/****************************************************************/

#footer-gc-properties-logos .container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#footer-gc-properties-logos .col-xs-6 {
	width: 50%;
	float: left;
}

#footer-gc-properties-logos .row {
	margin-left: -15px;
	margin-right: -15px;
}

@media (min-width: 768px) {
	#footer-gc-properties-logos .col-sm-3 {
		width: 25%;
		float: left;
	}
}

#footer-gc-properties-logos {
	margin-top: 50px;
	text-align: center;
	line-height: 100px;
}

#footer-gc-properties-logos img.property-logo {
	width: 75%;
}

